.emailPic {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 80%;
    border-style: solid;
    border-color: var(--theme);
    border-width: 10px;
    border-radius: 15px;
}

.emailTxt {
    color: var(--black);
    font-size: 28px;
    font-family: var(--font-inter);
    font-weight: 600;
    text-align: left;
    width: 80%;
}